module: comanage_account_linking.COmanageAccountLinkingMicroService
name: COmanageAccountLinking
config:
  api_url:
  api_user:
  password:
  target_backends:
    - name: "rubin_oidc"
      prefix: "lsst"
      # UnixCluster plugin record ID (cm_unix_clusters.id), not cm_clusters.id
      unix_cluster_id: 7
  co_id:
