module: comanage_account_linking.COmanageAccountLinkingMicroService
name: COmanageAccountLinking
config:
  api_url:
  api_user:
  password:
  target_backends:
    - name: "rubin_oidc"
      prefix: "lsst"
  co_id: